{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link rel="stylesheet" href="{% static 'driverForm/style.css' %}">
</head>

<body>

  <!-- Login and Register Section -->
  <div id="login-register-container">
    <div class="login">
      <h2>Login</h2>
      <form action="{% url 'driverForm:login' %}" method="POST">
        {% csrf_token %}

        <label for="username">Username:</label>
        <input type="text" id="username" name="username" placeholder="Enter Username" required>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" placeholder="Enter Password" required>
        <input type="checkbox" name="checkbox" id="checkbox" onclick="togglepassword()">Show password
        <button type="submit">Login</button>
      </form>
    </div>

    <div class="space">
      OR
    </div>

    <div class="register">
      <h2>Register</h2>
      <form action="{% url 'driverForm:register' %}" method="POST">
        {% csrf_token %}
        <label for="employee-id">Employee ID:</label>
        <input type="text" id="employee-id" name="employee-id" placeholder="Enter Employee ID" required>
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" placeholder="Enter Username" required>
        <label for="password-reg">Password:</label>
        <input type="password" id="password-reg" name="password-reg" placeholder="Enter Password" required>
        <label for="confirm-password">Confirm Password:</label>
        <input type="password" id="confirm-password" name="confirm-password" placeholder="Confirm Password" required>
        <button type="submit">Register</button>
      </form>
    </div>
  </div>

  <script type="text/javascript" src="{% static 'driverForm/loginscript.js' %}"></script>

</body>

</html>