{% load static %}
{% load custom_tags %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="csrf-token" content="{{ csrf_token }}">
  <title>Hospital Dashboard</title>
  <link rel="stylesheet" href="{% static 'dashboard/style.css' %}">
</head>

<body>

  {% for patient in hospitals_list %}
    
    <h4>Emergency: {{ patient.desp|capfirst }}</h4>
    <div class="details">
      <p><b>Latitude:</b> {{ patient.latitude }}</p>
      <p><b>Longitude:</b> {{ patient.longitude }}</p>

      <h3><b>Registered Hospitals Nearby (≤ 3 km)</b></h3>
      <ul>
        {% for hospital in patient.registered_hospitals %}
          <li>
            <p><b>Name:</b> {{ hospital.name }}</p>
            <p id="ip_addr" data-ip="{{ hospital.ip_addr }}"><b>IP Address:</b> {{ hospital.ip_addr }}</p>
            <p><b>Latitude:</b> {{ hospital.latitude }}</p>
            <p><b>Longitude:</b> {{ hospital.longitude }}</p>
            <p><b>Distance:</b> {{ hospital.distance|floatformat:2 }} km</p>
          </li>
        {% empty %}
          <p>No registered hospitals nearby.</p>
        {% endfor %}
      </ul>

      <br>

      <h3><b>Nearby (Unregistered) Hospitals</b></h3>
      <ul>
        {% for hospital in patient.hospitals %}
          <li>
            <p><b>Name:</b> {{ hospital.tags.name }}</p>
            <p><b>Address:</b> {{ hospital.tags|get_item:"addr:full" }}</p>
            {% with hospital.tags|get_item:"phone" as phone %}
              {% if phone != "N/A" %}
                <p><b>Phone:</b> {{ phone }}</p>
              {% else %}
                <p><b>Phone:</b> {{ hospital.tags|get_item:"contact:phone" }}</p>
              {% endif %}
            {% endwith %}
            <p><b>Distance:</b> {{ hospital.distance|floatformat:2 }} km</p>
          </li>
        {% empty %}
          <p>No nearby hospitals found.</p>
        {% endfor %}
      </ul>
    </div>
    <hr><br>
  {% empty %}
    <p>No patient data to display.</p>
  {% endfor %}
  <script type="text/javascript" src="{% static 'driverForm/location_script.js' %}"></script>
</body>

</html>