{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home page</title>
  <link rel="stylesheet" href="{% static 'dashboard/home_style.css' %}">
</head>

<body>
  <h1>Emergency Care Connect</h1>
  <div class="container">
    <a href="{% url 'driverForm:login' %}">
      <div class="section left-side">
        <img
          src="{% static 'dashboard/images/ambulance.png' %}"
          alt="Hospital Logo" class="hospital-logo">
        <button class="btn" onclick="window.location.href='driver-log.html'">Ambulance Driver Login</button>
      </div>
    </a>
    <a href="{% url 'dashboard:h_login' %}">
      <div class="section right-side">
        <img src="{% static 'dashboard/images/hospital.png' %}"
          alt="Hospital Logo" class="hospital-logo">
        <button class="btn" onclick="window.location.href='hospital-details.html'">Hospital Login</button>
      </div>
    </a>

  </div>

</body>

</html>