{% load static %}
{% load custom_tags %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Hospital Dashboard</title>
  <link rel="stylesheet" href="{% static 'dashboard/style.css' %}">
</head>

<body>

  {% for patient in patients_list %}
    <h4>Emergency: {{ patient.desp|capfirst }}</h4>

    <div class="details">
      <p><b>Latitude:</b> {{ patient.latitude }}</p>
      <p><b>Longitude:</b> {{ patient.longitude }}</p>
      <p><b>Nearby Hospitals:</b></p>
      <ul>
        {% for hospital in patient.hospitals %}
          <li>
            <p><b>Name:</b> {{ hospital.tags.name }}</p>
            <p><b>Address:</b> {{ hospital.tags|get_item:"addr:full" }}</p>
            {% with hospital.tags|get_item:"phone" as phone %}
              {% if phone != "N/A" %}
                <p><b>Phone:</b>{{ phone }}</p>
              {% else %}
                <p><b>Phone:</b>{{ hospital.tags|get_item:"contact:phone" }}</p>
              {% endif %}
            {% endwith %}
          </li>
          <br><br>
        {% endfor %}
      </ul>
    </div>
  {% empty %}
    <p>No data to display</p>
  {% endfor %}
  <script type="text/javascript" src="{% static 'dashboard/script.js' %}"></script>
</body>

</html>