body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(173, 233, 173);
}

#login-register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(173, 233, 173);
  border-radius: 10px;
  column-gap: 50px;
  padding: 20px;
  flex-direction: column;
}

.error-container {
  width: 25%;
  margin-right: 10px;
  height: 20px;
}

#errormsg {
  display: inline-block;
  background-color: red;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: bold;
  font-size: 16px;
}

.forms{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 160px;
}

.login, .register {
  width: 350px;
  padding: 20px;
  box-sizing: border-box; 
  background: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.register{
  width: 400px;
}

.login {
  border-right: 1px solid #ddd;
}

h2 {
  margin-bottom: 20px;
  color: #333;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 3px;
  font-size: 15px;
  color: #555;
}

input[type="text"], input[type="password"] {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  width: 93%;
}

input[type="checkbox"] {
  margin-bottom: 15px;
  display: inline;
  width: 8%;
}

input::placeholder{
  font-size: 14px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: rgb(156, 156, 156);
}

.register input{
  height: 9px;
  margin-bottom: 16px;
}

.register form input[name='longitude']{
  margin-bottom: 16px;
}

p{
  color: rgb(94, 94, 94);
  font-size: 14px;
}

button {
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #45a049;
}

.space {
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  font-weight: bold;
  font-size: 25px;
}